[submodule "mbed-src"]
	path = mbed-src
	url = https://github.com/mbedmicro/mbed
[submodule "BLE_API"]
	path = BLE_API
	url = https://github.com/mbedmicro/BLE_API
[submodule "nRF51822"]
	path = nRF51822
	url = https://github.com/mbedmicro/nRF51822
[submodule "build"]
	path = build
	url = https://github.com/rosterloh/gcc-mbed-build
